<h1>About us</h1>

<p>Powderful.net is a creation of Matt Boys and Laura Dresser, two MBA students at Harvard Business School. We created powderful.net as our final project for Harvard College's <a href="http://cs50.net">cs50</a> course.</p>

<p>We poll data from Google's Distance Matrix, Geo Code, and JavaScript Maps APIs, as well as SnoCountry's weather API. The back end is built using Ruby on Rails, the font end uses JQuery and Twitter's Bootstrap library. Powderful.net is hosted on Heroku. Your location data (if you approve the request) comes from the native HTML5 Geolocation function.</p>

<p>Happy skiing!</p>