

<div class="center hero-unit">
<div id="user-input-form-modal-mcb">
	<h2>Please enter your location</h2>
<%= render 'form' %>
</div>

<div id="loading-image">
<%= image_tag("ajax-loader.gif", :alt => "Loading page, please wait") %>
</div>


</div>

<script type="text/javascript">
 $("#user-input-form-modal-mcb").hide();
</script>



<script type="text/javascript">
getLocation()
</script>


