<h1>Powderful.net</h1>
<h2>The premier site for skiing in New England and upstate New York.</h2>

<div class="center hero-unit">
<div id="user-input-form-modal-mcb">
	<h2>Please enter your location</h2>
<%= render 'form' %>
</div>
(map goes here)



</div>

<script type="text/javascript">
 $("#user-input-form-modal-mcb").hide();
</script>



<script type="text/javascript">
getLocation()
</script>


