@import "bootstrap";


stars {
  color: #fdd416;
}

/* Map / Bootstrap overwrite */

#map_canvas img { 
  max-width: none;
}

#map_canvas label { 
  width: auto; display:inline; 
} 

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

#link-options {
  display: inline;
  list-style-type: none;
  text-align: right;
}

#navbar-mcb {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

#pad {
  margin-top: 20px;
}

#map_canvas {
  width: 600px;
  height: 400px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */



h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
/*  Yanone Kaffeesatz  Racing Sans One  */

#logo {
  font-family: 'Racing Sans One';
  float: left;
  margin-right: 10px;
  font-size: 4em;
  color: #007BA7;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}