
<p>
    <label for="amount-distance">Travel range:</label>
    <input type="text" id="amount-distance" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-distance"></div>
</p>

<p>
    <label for="amount-conditions">Conditions:</label>
    <input type="text" id="amount-conditions" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-conditions"></div>
 </p>
 
 <p>
    <label for="amount-price">Price range:</label>
    <input type="text" id="amount-price" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-price"></div>
 </p>