
<!-- variables to pass -->
<script type="text/javascript">
	var drive_secs_min = "<%= @drive_secs_min %>"
	var drive_secs_max = "<%= @drive_secs_max %>"

</script>



<p>
    <label for="amount-distance">Travel range:</label>
    <input type="text" id="amount-distance" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-distance"></div>
</p>
<br />
<p>
    <label for="amount-conditions">Conditions:</label>
    <input type="text" id="amount-conditions" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-conditions"></div>
 </p>
 <br />
 <p>
    <label for="amount-price">Price range:</label>
    <input type="text" id="amount-price" style="border: 0; color: #f6931f; font-weight: bold;" />
	<div id="slider-range-price"></div>
 </p>

 

 