<footer class="footer">
  <small>
    A
    <a href="http://cs50.net/">cs50</a>
    Production
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>

  
 <%= yield :scripts %>

</footer>