
<header>
<div class="container">

      <div id="logo">Powderful</div>
      <nav>
        <ul id="link-options">
          <li><%= link_to "About", root_path %></li>
          <li><%= link_to "Contact", help_path %></li>
          
        </ul>
      </nav>
    </div>
  <!-- </div> -->
</div>
</header>



<!-- <div id="link-options"> -->
    
    